Microservice:
  OrderService:
    Host: "0.0.0.0"
    Port: 8080
    WhiteListAllowOrigin:
      - "*"

GeneralDatabase:
  URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-general?sslmode=disable"

LongTermDatabase:
  URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-longterm?sslmode=disable"

ShardingDatabase:
  Shards:
    - RangeInDay: 1
      URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-oneDay?sslmode=disable"
    - RangeInDay: 7
      URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-sevenDay?sslmode=disable"
    - RangeInDay: 30
      URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-thirtyDay?sslmode=disable"
    - RangeInDay: 90
      URIConnection: "postgresql://postgres:123@localhost:5432/skripsi-ninetyDay?sslmode=disable"

Redis:
  Hostname: "localhost:6379"
  Username: "local-user"
  Password: "123"
  DB: 0
