Microservice:
  GeneralService:
    Host: "0.0.0.0"
    Port: 8080
    WhiteListAllowOrigin:
      - "*"
  AuthService:
    Host: "0.0.0.0"
    Port: 8081
    WhiteListAllowOrigin:
      - "*"
  IngestionService:
    Host: "0.0.0.0"
    Port: 8082
    WhiteListAllowOrigin:
      - "*"
  LongtermLoadService:
    Host: "0.0.0.0"
    Port: 8083
    WhiteListAllowOrigin:
      - "*"
  ShardingLoadService:
    Host: "0.0.0.0"
    Port: 8084
    WhiteListAllowOrigin:
      - "*"
  ServingService:
    Host: "0.0.0.0"
    Port: 8085
    WhiteListAllowOrigin:
      - "*"
  TransformService:
    Host: "0.0.0.0"
    Port: 8086
    WhiteListAllowOrigin:
      - "*"

GeneralDatabase:
  URIConnection: ""

LongTermDatabase:
  URIConnection: ""

ShardingDatabase:
  IsUsingSharding: true
  Shards:
    - DataRetention: 1
      URIConnection: ""
    - DataRetention: 7
      URIConnection: ""
    - DataRetention: 30
      URIConnection: ""
    - DataRetention: 90
      URIConnection: ""

KappaArchitecture:
  IsUsingKappaArchitecture: true

Redis:
  Hostname: ""
  Username: ""
  Password: ""

Kafka:
  Server: ""
  Topic:
    TransformOrder: ""
    LoadOrder: ""
  Group:
    Shard: ""
    LongTerm: ""
    Transform: ""

Scheduler:
  MoveShardingData:
    Enable: true
    Duration: "0 0 * * *"

Date:
  UsingCustomDate: true
  Current: "2023-12-31T23:59:59Z"

JWT:
  Secret: ""
  ExpInDay: 365